/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:ital,wght@1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
.top-infuencer{
    position: static;
}
.nav-right{
    display: flex;
    justify-content: flex-end;
}
nav a{
text-decoration: none;
color: black;
margin-left: 15px;
}
.container{
display: flex;
justify-content: center;
margin-top: 100px;
}
.img-part-1{
width: 440px;
height: 414px;

}

.button{
    border-radius: 16px 15px;
    padding: 5px 20px;    
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: red;
    bottom: 2681px;
    }

 /* ---------------
 collection style 
 -----------------*/
    
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 22px;
    
}
.collection{
    box-shadow:white;
    border-radius: 15px;
    margin: 30px;
}

.collection .collection-picture img{
    width: 200px;
    height: 150px;
}
.far-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
} 
.fa-star.empty{
    color: #AEAEAE;
 } 

 footer{
background-color: slategray;
text-align: center;
color: white;
padding: 30px;
 }
