/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:ital,wght@1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
/* main{
    /* display: flex;
    align-items: center;
} */
.nav-right{
    display: flex;
    justify-content: space-between;
}
nav a{
text-decoration: none;
color: black;
}
.container{
display: flex;
justify-content: center;

}
.img-part-1{
width: 440px;
height: 414px;

}

.button{
    border-radius: 16px 15px;
    padding: 5px 20px;    
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: red;
    bottom: 2681px;
    }

 /* ---------------
 collection style 
 -----------------*/
    .collection{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-gap: 30px;    
}
.collections .collection-picture img{
    width: 224px;
    height: 104px;
}
.far-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
} 
.fa-star.empty{
    color: #AEAEAE;
 } 
/* .collection-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
} */
 