/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:ital,wght@1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
.nav-right{
    display: flex;
    justify-content: space-between;
}
.product{
    font-size: 1.3em;
}
nav a{
text-decoration: none;
color: black;
margin-left: 15px;
}
.container{
display: flex;
justify-content: center;
margin-top: 100px;
}
.img-part-1{
width: 440px;
height: 414px;
}

.button{
    border-radius: 16px 15px;
    padding: 5px 20px;    
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: red;
    bottom: 2681px;
    }

 /* ---------------
 collection style 
 -----------------*/
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 22px;
    
}
.collection{
    box-shadow:white;
    border-radius: 15px;
    margin: 30px;
}

.collection .collection-picture img{
    width: 200px;
    height: 150px;
}
.section-title{
    text-align: center;
}
.collection-detail{
    padding: 0;
    margin: 0;
}
.far-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
} 
.fa-star.empty{
    color: #AEAEAE;
 } 
.see{
    text-decoration: none;
    color: 
    #E02C6D;
}
 footer{
background-color: 
#0A0826;
text-align: center;
color: white;
padding: 30px;
 }
 /*---- media queries -----*/
 
 @media only screen and (max-width:700px) {
     .top-collection{
         width: 100%;}

         /* .container{
             width: 100%;
         } */
     }

     .top-collection, .collections{
         grid-template-columns: repeat(1, 1fr);
     }
     .top-collection, .collection,.collections{
         flex-direction: column;
     }
 }
/* tab divce */
 @media only screen and (mini-width:700px) and (max-width: 992px) {
    .top-collection{
        width: 100%;
    }
     /* .container{
            width: 100%;
        } */
    }

    .top-collection, .container, .collections{
        grid-template-columns: repeat(2, 1fr);
    }

}

/* pc */
@media only screen and (mini-width:992px) and (max-width: 1450px) {
    .top-collection{
        width: 100%;
    }
    }

    .top-collection, .collections{
        grid-template-columns: repeat(3, 1fr);
    }


}
